/* Light Color Scheme */
:root,
:root[data-theme="light"] {
  color-scheme: light;
  --text-color: #000;
  --background-color: #fff;
  --link-color: #00f;
}

/* Dark Color Scheme */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --text-color: #fff;
    --background-color: #333;
    --link-color: #2196f3;
  }
}
:root[data-theme="dark"] {
  color-scheme: dark;
  --text-color: #fff;
  --background-color: #333;
  --link-color: #2196f3;
}

/* Use the Color Scheme */
body {
  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  color: var(--link-color);
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Theme toggler css*/

#theme-toggler {
  font-size: 1em;
}

@media (prefers-color-scheme: light) {
  #theme-toggler[state="dark"] span::before {
    content: "☀️";
  }
  #theme-toggler[state="light"] span::before {
    content: "🌑";
  }
  #theme-toggler[state="auto"] span::before {
    content: "🌑";
  }
}

@media (prefers-color-scheme: dark) {
  #theme-toggler[state="dark"] span::before {
    content: "☀️";
  }
  #theme-toggler[state="light"] span::before {
    content: "🌑";
  }
  #theme-toggler[state="auto"] span::before {
    content: "☀️";
  }
}
