#theme-toggler {
  font-size: 1em;
}

@media (prefers-color-scheme: light) {
  #theme-toggler[state="dark"] span::before {
    content: "☀️";
  }
  #theme-toggler[state="light"] span::before {
    content: "🌑";
  }
  #theme-toggler[state="auto"] span::before {
    content: "🌑";
  }
}

@media (prefers-color-scheme: dark) {
  #theme-toggler[state="dark"] span::before {
    content: "☀️";
  }
  #theme-toggler[state="light"] span::before {
    content: "🌑";
  }
  #theme-toggler[state="auto"] span::before {
    content: "☀️";
  }
}
